// see http://jeet.gs/
@import '../node_modules/jeet/stylus/jeet/index.styl'
// see https://github.com/jescalan/rupture#what-is-a-measure
@import '../node_modules/rupture/rupture/index.styl'

body
  font-family 'Roboto', sans-serif
  margin 0
  min-height 100vh
  overflow auto

  background-color: lightgrey
  center(1024px)

.app-bar
  z-index: 0
  height: 8em

  .page-name
    color: white

.quill-toolbar
  border-bottom 1px solid lightgrey

.links
  margin-top: 16px
  padding: 16px
  
.bottom
  border-top 1px solid lightgrey
  padding 16px 0px 16px 0px !important
  margin 0px 16px 0px 16px !important

.section
  margin-bottom: 16px

.ql-editor, .ql-container, .document
  min-height 400px

.document
  height 100%

.keyword
  margin-right: 16px

.document
  position relative

  .fullscreen
    position: absolute
    bottom 16px
    right 16px

.badge
  span
    line-height: 2em
    text-align: center

.page
  width: 90%
  margin: 16px auto
  z-index: 1200
  position: relative
  top: -5em

  .pagebar
    display: flex

    h1
      margin: 0
      padding: 16px
      flex-grow: 1

    button
      flex-shrink: 1
      margin: 14px 0 !important

  .page-content
    min-height: 441px
    padding: 16px
    overflow: auto

    img
      max-width: 100%
